// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 10px;
  padding: 10px;
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}




table{
  border-collapse: collapse;
  border-color: lightblue;
  border: 5px solid lightblue;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

th{
  height: 50px;
  font-style: oblique;
  background-color: lightblue;
  color: steelblue;
}

td{
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #EFEFEF;

}

a{
  color: steelblue;
}

