// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border-collapse: collapse;
}

td{
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #EFEFEF;

}