/*Basic CSS*/

* {
  box-sizing: border-box;  
}

body{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 20px;
}

section{
  border: 1px solid black;
  background-color: darkgray;
  border: 1px solid #000000;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  
}
h2 {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    margin: 0 0 0 60%;
    font-size: 1.25em;
    text-align: center;
    padding: 2px 0;
    width: 40%;
}

p{
  padding-right: 10px;
  padding-left: 10px;
}
  
#chicken h2{
  background-color: rosybrown;
}

#beef h2{
  background-color: indianred;
  color: white;
}
#sushi h2{
  background-color: bisque;
}

footer{
  clear:left;
  text-align: center;
  font-size: 10px;
  padding:10px ;
}



@media (min-width: 992px) {
  section {
      float: left;
      margin-right: 2.5%;
      width: 30%;
  }

 #chicken{
  margin-left: 2.5%;
}
}




@media (min-width: 768px) and (max-width: 991px) {
  section {
      float: left;
      margin-right: 2.5%;
      width: 46.25%;
  }
  
  #sushi{
    width: 95%
  }
  
  #sushi, #chicken{
    margin-left: 2.5%;
  }  

}

@media (max-width: 767px) {
  section {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
 
}

