<h1>Best recipes from over the World</h1>
<h2>Searching for - <%= @recipe %></h2>



<div>
<% if not @recipeList.nil? then %>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% @recipeList.each do |recipe| %>
          <tr class=<%= cycle('even', 'odd') %>>
            <td><%= link_to image_tag(recipe["image_url"],size:"100x100"), recipe["f2f_url"] %></td>
            <td><%= link_to sanitize(recipe["title"]), recipe["f2f_url"] %></td>
            <td><%= recipe["social_rank"].round(2) %> %</td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p> Sorry, no recipe found!</p>
<% end %>
</div>

<footer>
  <p>Powered By Food2Fork.com</p>
</footer>