<h1>Searching for - <%= @course%></h1>




  <% if not @courseList.nil? then %>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% @courseList.each do |course| %>
        <tr class=<%= cycle('even', 'odd') %>>
          <td><%= image_tag(course["smallIcon"])%></td>
          <td><%= course["name"] %></td>
          <td><%= course["shortDescription"] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
      <p> Sorry, nothing found!</p>
  <% end %>